.button {
  background-color: transparent;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  width: 210px;
  text-align: center;
  padding: 15px 0 10px 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: 0.5s all ease;
  cursor: pointer;
}
.button:hover {
  background-color: #f7600e;
}
.button:active {
  box-shadow: inset 0 0 10px black;
}
.orange {
  color: #e46930;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}
p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}
h2 {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: #3d434b;
}
h4 {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  color: white;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.header {
  background: url('../img/header_bg.png');
  overflow: hidden;
}
.header .logo {
  width: 158px;
  height: 18px;
}
.header .container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3b434c;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.9;
}
.header .container-fluid .menu__list {
  transform: translateY(-80px);
  transition: 0.5s all ease;
}
.header .container-fluid .menu__list a {
  color: #e46930;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s all ease;
}
.header .container-fluid .menu__list a:active {
  color: #3d434b;
}
.header .container-fluid .menu #toggle {
  display: none;
}
.header .container-fluid .menu #toggle:checked ~ .menu__list {
  transform: translateY(0);
}
.header .container-fluid .menu #toggle:checked ~ .menu__toggle :first-child {
  transform: scale(0);
}
.header .container-fluid .menu #toggle:checked ~ .menu__toggle .ham {
  transform: rotate(45deg);
}
.header .container-fluid .menu #toggle:checked ~ .menu__toggle .ham::before {
  transform: scale(0);
}
.header .container-fluid .menu #toggle:checked ~ .menu__toggle .ham::after {
  top: 0;
  transform: rotate(90deg);
}
.header .container-fluid .menu__toggle {
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}
.header .container-fluid .menu__toggle :first-child {
  color: white;
  transition: 0.5s all ease;
}
.header .container-fluid .menu__toggle .ham {
  position: relative;
  width: 26px;
  height: 2px;
  background: white;
  transition: 0.5s all ease;
}
.header .container-fluid .menu__toggle .ham::before,
.header .container-fluid .menu__toggle .ham::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 2px;
  background: white;
  transition: 0.5s all ease;
}
.header .container-fluid .menu__toggle .ham::before {
  top: 5px;
  left: 0;
}
.header .container-fluid .menu__toggle .ham::after {
  top: -5px;
  left: 0;
}
.header .title {
  margin-top: 183px;
}
.header__buttons {
  margin-top: 94px;
  margin-bottom: 196px;
}
.header .scroll {
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  padding: 15px;
  cursor: pointer;
}
.header .scroll__arrow {
  width: 10px;
  height: 10px;
  background: transparent;
  position: relative;
}
.header .scroll__arrow::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 2px;
  background: white;
  width: 18px;
  height: 2px;
  transform: rotate(-45deg);
}
.header .scroll__arrow::after {
  content: '';
  position: absolute;
  background: white;
  width: 18px;
  height: 2px;
  top: 7px;
  left: -9px;
  transform: rotate(45deg);
}
.services .container {
  padding-top: 112px;
  padding-bottom: 101px;
}
.services .serv__img {
  border-radius: 50%;
  border: 2px solid #c6c8cb;
  background: url('../img/works_1.png');
  background-repeat: no-repeat;
  background-position: center  center;
  padding: 45px;
}
.services .serv p {
  color: #9ea1a5;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}
.services .serv .img2 {
  background: url(../img/works_2.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.services .serv .img3 {
  background: url(../img/works_3.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.services .serv .img4 {
  background: url(../img/works_4.png);
  background-position: center center;
  background-repeat: no-repeat;
}
.services .mail {
  width: 100%;
  background: #323539;
}
.services .mail .container {
  padding: 100px 0px;
}
.services .mail form input[type="email"] {
  border-radius: 10px;
  width: 562px;
  height: 50px;
}
.services .mail form input[type="submit"] {
  background-color: #e46930;
  cursor: pointer;
}
.works {
  padding: 100px 0;
}
.works p {
  font-size: 16px;
  text-align: center;
}
.works p:first-of-type {
  color: #3d434b;
}
.works .grid {
  margin-left: -15px;
  margin-top: 30px;
}
.works .grid__item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.works .grid__item .project {
  transition: 0.3s all ease;
  opacity: 0;
  padding: 82px 40px;
  background: #e46930;
  border-radius: 8px;
}
.works .grid__item .project:hover {
  opacity: 0.9;
}
.works .grid__item .project .button:hover {
  background: white !important;
  color: #e46930;
  opacity: 1;
}
.works .grid1 {
  background: url(../img/grid_1.png);
}
.works .grid2 {
  background: url(../img/grid_2.png);
}
.works .grid3 {
  background: url(../img/grid_3.png);
}
.works .grid4 {
  background: url(../img/grid_4.png);
}
.works .grid5 {
  background: url(../img/grid6.png);
}
.works .grid6 {
  background: url(../img/grid_5.png);
}
.references {
  background: url(../img/woman_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.references .container-fluid {
  padding-top: 101px;
  padding-bottom: 104px;
  opacity: 0.9;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  background: #3b434c;
}
.references p {
  font-style: italic;
  font-size: 18px;
}
.team__title p {
  color: #3b434c;
  font-size: 18px;
}
.contact {
  margin-top: 101px;
  background: url(../img/bg_city.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact .container-fluid {
  background-color: #3b434c;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.9;
  padding-top: 102px;
  padding-bottom: 140px;
}
.contact__title p {
  font-size: 18px;
}
form input,
form textarea {
  border-radius: 10px;
}
form i {
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}
form input {
  margin-left: 30px;
  margin-bottom: 31px;
  padding: 15px 150px 15px 20px;
}
form .inputs {
  margin-left: -30px;
}
form .button {
  background: #e46930;
}
footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
footer p {
  font-size: 18px;
  font-weight: lighter;
}
