body {
    margin: 0;
    height: 100%;
    background-image: url(cake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(180, 177, 0);
    font-family: 'Noto Sans HK', sans-serif;
}
ul{
    list-style-type: upper-roman;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 19px;
    text-align: start;
    color: rgb(180, 177, 0);
}
img{
    margin: 2% 33% ;
}
.lu{
    color: rgb(66, 61, 61);
    font-size: 13px;
    text-align: top;
    margin-top: 2%
}
button{
    position: absolute;
    left: 2%;
    bottom: 10px;
    background: rgb(204, 197, 197);
    color: rgb(83, 82, 8);
    font-weight: bold;
    font-size: 11px;
    border-radius: 3%;
    border: 15px;
    text-decoration: none;
    -webkit-transition:0.3s all ease;
    transition:0.3s ease all;
}