body{
    font-family: 'Comfortaa', cursive;

}



.goods{
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
}

.goods figure {
    display: flex;
    justify-content: center;
}

a.one{
    background: url(./Дуршлак\ утка\ правельнейший!!!\ 2\ эту\ надо.png);
    display: block;
    width: 235px;
    height: 280px;
}

a.one:hover{
    background: url(./Дуршлак\ утка\ 2\ правильнейшая.png);
    box-shadow: 10px -5px 30px rgb(160, 149, 149);
    transition: all 1.5;
}

a.two{
    background: url(./перчатки\ правельнейшие!!!!!!!!!!!!!!!!!!!!\ 2.png);
    display: block;
    width: 235px;
    height: 280px;
}

a.two:hover{
    background: url(./перчатки\ правельнейшие!!!!!!!!!!!!!!\ 1.png);
}

a.three{
    background: url(./будильник\ 1.png);
    display: block;
    width: 235px;
    height: 280px;
}

a.three:hover{
    background: url(./Будильник\ 2.png);
}

a.four{
    background: url(./светильник\ 1.png);
    display: block;
    width: 235px;
    height: 280px;
}

a.four:hover{
    background: url(./Светильник\ 2.png)
}

a.five{
    background: url(./крючки\ 1.png);
    display: block;
    width: 235px;
    height: 280px;
}

a.five:hover{
    background: url(./крючки\ 2.png)
}

a{
    color: black;
}


header a{
    text-decoration: none;
}
