body{
    font-family: 'Comfortaa', cursive;
}

.head{
    color: rgb(82, 15, 82);
    font-weight: bold;
    padding: 800px;
    padding-top: 0px;
    padding-bottom: 1000px;
}

.text{
    padding: 900px;
    padding-top: 0px;
    padding-bottom: 1000px;
}